<section class="footer clear">
	<section class="container">
		<ul class="footer-nav clear">
			<li><a href="">Top level text</a>
				<ul>
					<li><a href="">Text here</a></li>
					<li><a href="">Text here</a></li>
					<li><a href="">Text here</a></li>
				</ul>
			</li>
			
			<li><a href="">Top level text</a>
				<ul>
					<li><a href="">Text here</a></li>
					<li><a href="">Text here</a></li>
					<li><a href="">Text here</a></li>
				</ul>
			</li>
			
		</ul>
		<div class="contact">
			<h3>Contact NumFOCUS</h3>
			<div>
				<span>NumFOCUS</span>
				<span>P.O. Box 90596</span>
				<span>Austin, TX 78709</span>
				<a href="mailto:info@numfocus.org">info@numfocus.org</a>
			</div>
		</div>
		{% include 'mailing-list.j2' %}
	</section>
</section>

