<header>
	<section class="container nopad">
		<a href="" class="header_logo">
			<img src="{{ media_url('/media/img/numfocus_logo.png') }}" alt="NumFOCUS"/>
		</a>
		<div class="buttons">
		<btn>
				<a href="/join.html" class="btn grey">Join</a>
			</btn>
			<btn>
				<a href="/donate.html" class="btn yellow">Donate</a>
			</btn>
		</div>
		<ul class="nav">
			<li><a href="/take-action/index.html">Take Action</a></li>
			<li><a href="/foundation/index.html">Foundation</a></li>
			<li><a href="/projects/index.html">Projects</a></li>
			<li><a href="/programs/index.html">Programs</a></li>
			<li><a href="/blog/index.html">Blog</a></li>
		</ul>
	</section>
</header>