<section class="footer clear">
	<section class="container">
		<ul class="footer-nav clear">
			<li><a href="{{ SITEURL }}/projects.html">Projects</a>
				<ul>
					<li><a href="{{ SITEURL }}/projects.html#core-projects">Core Projects</a></li>
					<li><a href="{{ SITEURL }}/projects.html#other-projects">Other Projects</a></li>
					<li><a href="{{ SITEURL }}/projects.html#associated-projects">Associated Projects</a></li>
				</ul>
			</li>
			
			<li><a href="{{ SITEURL }}/about.html">About NumFOCUS</a>
				<ul>
					<li><a href="{{ SITEURL }}/board.html">Board</a></li>
					<li><a href="{{ SITEURL }}/pdfs/bylaws.pdf">Bylaws</a></li>
				</ul>
			</li>
			
		</ul>
		<div class="contact">
			<h3>Contact NumFOCUS</h3>
			<div>
				<span>NumFOCUS</span>
				<span>P.O. Box 90596</span>
				<span>Austin, TX 78709</span>
				<a href="mailto:info@numfocus.org">info@numfocus.org</a>
			</div>
		</div>
		{% include 'mailing-list.j2' %}
	</section>
</section>

