<header class="downstream">
	<section class="container nopad">
		<a href="/" class="header_logo">
			<img src="{{ media_url('/media/img/numfocus_logo.png') }}" alt="NumFOCUS"/>
		</a>
		<div class="buttons">
		<btn>
				<a href="/join.html" class="btn grey">Join</a>
			</btn>
			<btn>
				<a href="/donate.html" class="btn yellow">Donate</a>
			</btn>
		</div>
		<ul class="nav">
			<li><a href="/take-action/index.html">Take Action</a>
				<ul>
					<div>
						<li><a href="/take-action/join-numfocus/">Join NumFOCUS</a></li>
						<li><a href="/donate/">Donate</a></li>
						<li><a href="/take-action/sponsor/">Sponsor</a></li>
						<li><a href="">Mailing List</a></li>
					</div>
				</ul>
			</li>
			<li><a href="/foundation/index.html">Foundation</a>
				<ul>
					<div>
						<li><a href="/foundation/board.html">Board</a></li>
						<li><a href="/media/docs/bylaws.pdf" target="_blank">Bylaws</a></li>
						<li><a href="/foundation/mission.html">Mission</a></li>
					</div>
				</ul>
			</li>
			<li><a href="/projects/index.html">Projects</a>
				<ul>
					<div>
						<li><a href="/projects/contribute.html">Contribute</a></li>
						<li><a href="/projects/apply-for-grant.html">Apply for a grant</a></li>
						<li><a href="/projects/join-as-project.html">Join as a project</a></li> 
						<li><a href="/projects/recommended-projects">List of Recommended Projects</a>
						</li>
					</div>
				</ul>
			</li>
			<li><a href="/programs/index.html">Programs</a>
				<ul>
					<div>
						<li><a href="/programs/conferences.html">Conferences</a></li>
						<li><a href="/programs/fellowships.html">Fellowships</a></li>
						<li><a href="/programs/women-in-techonology.html">Women in Technology</a></li>
					</div>
				</ul>
			</li>
			<li><a href="/blog/index.html">Blog</a>
				<ul>
					<div>
						<li><a href="/blog/news-items/index.html">News Items</a></li>
						<li><a href="/blog/press-releases/index.html">Press Releases</a></li>
					</div>
				</ul>
			</li>
		</ul>
	</section>
</header>