<div class="mailing-list">
	<div class="google-group">
		<h3>Join the Mailing List</h3>
		<a href="https://groups.google.com/forum/#!forum/numfocus">Sign Up Now</a>
	</div>
	<div class="social">
		<a class="github" target="_blank" href="https://github.com/numfocus">GitHub</a>
		<a class="twitter" target="_blank" href="https://twitter.com/numfocus">Twitter</a>
		<a class="google" target="_blank" href="https://plus.google.com/communities/100008130850352595608">Google+</a>
	</div>
</div>