{% extends "base.html" %}
{% block full_title %}{{ SITEURL }}{% endblock full_title%}
{% block body %}
  {% include "header-index.j2" %}
  <section class="content home">
      {% block content %}
      <section class="bannerWrapper">
    <section class="container banner">
        <div class="projects">
            <a href="/projects">
                
            </a>
            <h2>Projects</h2>
        </div>
        <div class="jHunterTechFellowship">
            <a href="/programs/fellowships.html">
                
            </a>
            <h2>John Hunter<br/>Technical Fellowship</h2>
        </div>
        <div class="wit">
            <a href="/programs/women-in-technology.html">
                
            </a>
            <h2>Women in Technology</h2>
        </div>
        <div class="fiscalSponsorship">
            <a href="/projects/join-as-project.html">
                
            </a>
            <h2>Fiscal Sponsorship</h2>
        </div>
        <div class="pydata">
            <a href="http://pydata.org/">
                
            </a>
            <h2>Pydata</h2>
        </div>
    </section>
</section>
<section class="container mission">
    <p>NumFOCUS promotes and supports the ongoing research and development of open-source computing tools through educational, community, and public channels.</p>
</section>  
<section class="container statistics nopad">
    <h4>Sustaining the scientific software ecosystem.</h4>
    <div class="first">
        <span>1227</span>
        <h5>Contributors to projects</h5>
    </div>
    <div class="last">
        <span>3,239,160</span>
        <h5>Contributors to projects</h5>
    </div>
    <p class="clear">and counting...</p>
</section>
      {% endblock %}
  </section>
{% endblock body %}
