<div class="sponsors">
	<h4>Corporate Sponsors</h4>
	
	<div class="platinum">
		<h5>Platinum</h5>
		<ul>
			<li><a href=""><img src="{{ media_url('img/sponsors/jpm-logo.png') }}" alt="JP Morgan"/></a></li>
			<li><a href=""><img src="{{ media_url('img/sponsors/microsoft-logo.png') }}" alt="Microsoft"/></a></li>
		</ul>
	</div>
	<div class="gold">
		<h5>Gold</h5>
		<ul>
			<li><a href=""><img src="{{ media_url('img/sponsors/continuum-logo.png') }}" alt="Continuum"/></a></li>
		</ul>
	</div>
</div>