{% extends "base.html" %}

{% block content %}
<section id="content">
    <div class="row">
        {% block content_title %}
        {% endblock content_title%}
    </div><!-- /.row -->

    <div class="row">
        <div class="eleven columns">
            <ol id="post-list">
                {% include 'article_list.html' %}
            </ol><!-- /#posts-list -->
        </div><!-- /.eleven.columns -->
            
        {% include 'sidebar.html' %}
    </div><!-- /.row -->

    {% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
