<!DOCTYPE HTML>
<html>
  <head>
  <title>NumFOCUS Homepage</title>
<meta charset="utf-8" />

<!-- Mobile viewport optimized: j.mp/bplateviewport -->
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">


  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<!-- fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,800|Oswald:400,300,700' rel='stylesheet' type='text/css'>

<link href="/media/css/custom.css" rel="stylesheet" type="text/css" />
<link rel="shortcut icon" href="/media/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="/media/img/favicon.ico" type="image/x-icon">
 
<!--script type="text/javascript">
	$(function() {
		$('.nav li').each(function(){
			$(this).removeClass('active');
		})
		 if(location.pathname.split("/")[1]!='') {
	    $('.nav a[href^="/' + location.pathname.split("/")[1] + '"]').parents('li').addClass('active');  
    }
	});
</script-->
<script type="text/javascript">
  $(document).ready(function(){
    $('.banner h2').hover(
      function(){
       $(this).parent('div').find('a').addClass('hover');
      }, function () {
        $(this).parent('div').find('a').removeClass('hover');
      }
    )
    $('.banner h2').click(function(){
        document.location.href = $(this).parent('div').find('a').attr('href');
      })
  });
</script>
  </head>
  <body>
  <header>
	<section class="container nopad">
		<a href="/" class="header_logo">
			<img src="/media/img/numfocus_logo.png" alt="NumFOCUS"/>
		</a>
		<div class="buttons">
		<btn>
				<a href="/membership.html" class="btn grey">Join</a>
			</btn>
			<btn>
				<a href="/donations.html" class="btn yellow">Donate</a>
			</btn>
		</div>
		<ul class="nav">
			<li><a href="/membership.html">Take Action</a>
			</li>
			<li><a href="/about.html">Foundation</a>
				
			</li>
			<li><a href="/projects.html">Projects</a>
				
			</li>
			<li><a href="/fellowships.html">Programs</a>
			</li>
			<li><a href="/category/news.html">Blog</a>
			</li>
		</ul>
	</section>
</header>  <section class="content home">
      <section class="bannerWrapper">
    <section class="container banner">
		<div class="projects">
			<a href="/projects.html">
				
			</a>
			<h2>Projects</h2>
		</div>
		<div class="jHunterTechFellowship">
			<a href="/john_hunter_fellowship_2014.html">
				
			</a>
			<h2>John Hunter<br/>Technical Fellowship</h2>
		</div>
		<div class="wit">
			<a href="/boot-camp-for-women-in-science-engineering.html">
				
			</a>
			<h2>Women in Technology</h2>
		</div>
		<div class="fiscalSponsorship">
			<a href="/fiscal-sponsorship.html">
				
			</a>
			<h2>Fiscal Sponsorship</h2>
		</div>
		<div class="pydata">
			<a href="http://pydata.org">
				
			</a>
			<h2>Pydata</h2>
		</div>
	</section>
</section>
<section class="container mission">
	<p>NumFOCUS promotes and supports the ongoing research and development of open-source computing tools through educational, community, and public channels.</p>
</section>	
<section class="container statistics nopad">
	<h4>Sustaining the scientific software ecosystem.</h4>
	<div class="first">
		<span>1,227</span>
		<h5>Contributors to projects</h5>
	</div>
	<div class="last">
		<span>3,239,160</span>
		<h5>lines of code committed</h5>
	</div>
	<!--div>
		<span>?</span>
		<h5>distributed to programs and projects</h5>
	</div-->
	<p class="clear">and counting...</p>
</section>
  </section>
  <section class="footer clear">
	<section class="container">
		<ul class="footer-nav clear">
			<li><a href="/projects.html">Projects</a>
				<ul>
					<li><a href="/projects.html#core-projects">Core Projects</a></li>
					<li><a href="/projects.html#other-projects">Other Projects</a></li>
					<li><a href="/projects.html#associated-projects">Associated Projects</a></li>
				</ul>
			</li>
			
			<li><a href="/about.html">About NumFOCUS</a>
				<ul>
					<li><a href="/board.html">Board</a></li>
					<li><a href="/pdfs/bylaws.pdf">Bylaws</a></li>
				</ul>
			</li>
			
		</ul>
		<div class="contact">
			<h3>Contact NumFOCUS</h3>
			<div>
				<span>NumFOCUS</span>
				<span>P.O. Box 90596</span>
				<span>Austin, TX 78709</span>
				<a href="mailto:info@numfocus.org">info@numfocus.org</a>
			</div>
		</div>
		<div class="mailing-list">
	<div class="google-group">
		<h3>Join the Mailing List</h3>
		<a href="https://groups.google.com/forum/#!forum/numfocus">Sign Up Now</a>
	</div>
	<div class="social">
		<a class="github" target="_blank" href="https://github.com/numfocus">GitHub</a>
		<a class="twitter" target="_blank" href="https://twitter.com/numfocus">Twitter</a>
		<a class="google" target="_blank" href="https://plus.google.com/communities/100008130850352595608">Google+</a>
	</div>
</div>	</section>
</section>
  </body>
</html>
