{% for level in ["Platinum Level", "Gold Level", "Silver Level", "Bronze Level"] %}
    {% for tag, articles in tags if tag == level and articles %}
        <h2 class="unknown">{{ level }} Sponsors</h2>
        <ul>
            {% for article in articles %}
                <header>
                    {% import 'translations.html' as translations with context %}
                    {{ translations.translations_for(article) }}
                </header>
                <li><article class="unknown">
                    {{ article.content }}
                </article></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endfor %}
